pip>23.3
bump2version==0.5.11
wheel==0.38.4
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage==6.0b1
Sphinx==7.1.2
twine==2.0.0
pytest==6.2.5
sphinx-rtd-theme
pre-commit
torch
nir>=1.0.6
nirtorch>=2.0.5
matplotlib